ConsoleApp/NEF.ConsoleApp.TEST/Service References/ServiceReference1/Common1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVoucherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingnedVoucher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="new_paymentid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="new_type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="new_itype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingnedVoucherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingnedVoucherResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseQuoteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseQuoteRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CloseQuoteRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Muhasebelestir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MuhasebelestirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MuhasebelestirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="quoteId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContractSignedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>